<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.digitalpublishing.mapper.echarts.EchartColumnValueMapper">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

	<resultMap id="BaseResultMap" type="cn.digitalpublishing.po.echarts.EchartColumnValue">
		<id column="colv_id" property="id" jdbcType="BIGINT" />
		<result column="colv_code" property="code" jdbcType="VARCHAR" />
		<result column="colv_name" property="name" jdbcType="VARCHAR" />
		<result column="colv_type" property="type" jdbcType="TINYINT" />
		
		<result column="echart_id" property="echartId" jdbcType="VARCHAR" />
		<result column="exp_id" property="expId" jdbcType="VARCHAR" />
		<result column="col_id" property="colId" jdbcType="VARCHAR" />
		<result column="col_val" property="colVal" jdbcType="VARCHAR" />
		<result column="rs_id" property="rsId" jdbcType="VARCHAR" />
		
		<result column="create_id" property="createId" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_id" property="updateId" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="TINYINT" />
	</resultMap>
	
	<!-- design_echart_column_value -->
	<sql id="Base_Column_List">
		colv_id, 
		colv_code, 
		colv_name, 
		colv_type,
		
		echart_id,
		exp_id,
		col_id,
		col_val,
		rs_id,
		
		create_id,create_date,update_id,update_date,status
	</sql>
	
	<select id="findByRSId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from design_echart_column_value
		where rs_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.String">
		delete from
		design_echart_column_value
		where
		colv_id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<update id="updateById" parameterType="cn.digitalpublishing.po.echarts.EchartColumnValue">
		update design_echart_column_value
		<set>
			<if test="code != null">
				colv_code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				colv_name = #{name,jdbcType=VARCHAR},
			</if>
			
			<if test="colVal != null">
				col_val = #{colVal,jdbcType=VARCHAR},
			</if>
			
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
		</set>
		where colv_id = #{id,jdbcType=VARCHAR}
	</update>
	
	<insert id="insert" parameterType="cn.digitalpublishing.po.echarts.EchartColumnValue">
		insert into design_echart_column_value
		(colv_id, 
		colv_code, 
		colv_name, 
		colv_type,
		echart_id,
		exp_id,
		col_id,
		col_val,
		rs_id,
		create_id,
		create_date,
		status)
		values
		(replace(uuid(),'-',''), 
		#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{type,jdbcType=TINYINT}, 
		#{echartId,jdbcType=VARCHAR},
		#{expId,jdbcType=VARCHAR},
		#{colId,jdbcType=VARCHAR},
		#{colVal,jdbcType=VARCHAR},
		#{rsId,jdbcType=VARCHAR},
		#{createId,jdbcType=VARCHAR}, 
		NOW(),
		#{status,jdbcType=TINYINT})
	</insert>
	
	<select id="findListByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from
		design_echart_column_value
		where
		1=1
		<if test="rsId != null"> and rs_id = #{rsId, jdbcType=VARCHAR}</if>
		<if test="name != null"> and colv_name = #{name, jdbcType=VARCHAR}</if>
		<if test="code != null"> and colv_code = #{code, jdbcType=VARCHAR}</if>
		<if test="type != null"> and colv_type = #{type, jdbcType=TINYINT}</if>
	</select>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from design_echart_column_value
		where colv_id = #{id,jdbcType=VARCHAR}
	</select>

</mapper>