<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.digitalpublishing.mapper.excel.XlsColumnMapper">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

	<resultMap id="BaseResultMap" type="cn.digitalpublishing.po.excel.XlsColumn">
	
		<id column="col_id" property="id" jdbcType="BIGINT" />
		
		<result column="col_name" property="name" jdbcType="VARCHAR" />
		<result column="col_code" property="code" jdbcType="VARCHAR" />
		<result column="col_type" property="type" jdbcType="VARCHAR" />
		
		<result column="xls_id" property="xlsId" jdbcType="VARCHAR" />
		<result column="tab_column" property="tabColumn" jdbcType="VARCHAR" />
		<result column="tab_columntype" property="tabColumnType" jdbcType="VARCHAR" />
		
		<result column="create_id" property="createId" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_id" property="updateId" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="TINYINT" />
	</resultMap>
	
	<!-- design_xls_column -->
	<sql id="Base_Column_List">
		col_id, 
		col_name, 
		col_code, 
		col_type, 
		
		xls_id, 
		tab_column, 
		tab_columntype, 
		
		create_id,create_date,update_id,update_date,status
	</sql>
	
	<select id="getColumnByXlsId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from design_xls_column
		where xls_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.String">
		delete from
		design_xls_column
		where col_id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<select id="findListByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from
		design_xls_column
		where
		1=1
		<if test="name != null"> and col_name = #{name, jdbcType=VARCHAR}</if>
		<if test="code != null"> and col_code = #{code, jdbcType=VARCHAR}</if>
		<if test="xlsId != null"> and xls_id = #{xlsId, jdbcType=VARCHAR}</if>
		<if test="tabColumn != null"> and tab_column = #{tabColumn, jdbcType=VARCHAR}</if>
		<if test="status != null"> and status = #{status, jdbcType=VARCHAR}</if>
	</select>
	
	<insert id="insert" parameterType="cn.digitalpublishing.po.excel.XlsColumn">
		insert into design_xls_column
		(col_id, 
		col_name, 
		col_code, 
		col_type, 
		
		xls_id, 
		tab_column, 
		tab_columntype, 
		
		create_id,
		create_date,
		status)
		values
		(replace(uuid(),'-',''), 
		#{name,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		
		#{xlsId,jdbcType=VARCHAR}, 
		#{tabColumn,jdbcType=VARCHAR}, 
		#{tabColumnType,jdbcType=VARCHAR}, 
		
		#{createId,jdbcType=VARCHAR}, 
		NOW(),
		#{status,jdbcType=TINYINT})
	</insert>
	
	<!-- 分页查询发件箱管理信息 -->
	<select id="findPageCondition" resultMap="BaseResultMap" parameterType="PageInfo">
		select
		<include refid="Base_Column_List" />
		from design_xls_column
		where 1 = 1
		<if test="condition.xlsId != null"> 
			and xls_id like #{condition.xlsId, jdbcType=VARCHAR}
		</if>
		<if test="condition.name != null"> 
			and col_name like #{condition.name, jdbcType=VARCHAR}
		</if>
		<if test="condition.code != null"> 
			and col_code like #{condition.code, jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from design_xls_column
		where col_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<update id="updateById" parameterType="cn.digitalpublishing.po.excel.XlsColumn">
		update design_xls_column
		<set>
			<if test="code != null">
				col_code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				col_name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				col_type = #{type,jdbcType=VARCHAR},
			</if>
			
			<if test="xlsId != null">
				xls_id = #{xlsId,jdbcType=VARCHAR},
			</if>
			<if test="tabColumn != null">
				tab_column = #{tabColumn,jdbcType=VARCHAR},
			</if>
			<if test="tabColumnType != null">
				tab_columntype = #{tabColumnType,jdbcType=VARCHAR},
			</if>
			
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where col_id = #{id,jdbcType=VARCHAR}
	</update>
	
</mapper>